@font-face {
    font-family: 'muli';
    src: url('../fonts/muli.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muli-bold';
    src: url('../fonts/muli-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muli-bolditalic';
    src: url('../fonts/muli-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muli-extralight';
    src: url('../fonts/muli-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muli-extralightItalic';
    src: url('../fonts/muli-extralightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muli-italic';
    src: url('../fonts/muli-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muli-light';
    src: url('../fonts/muli-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muli-lightitalic';
    src: url('../fonts/muli-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muli-semibold';
    src: url('../fonts/muli-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muli-semi-bolditalic';
    src: url('../fonts/muli-semi-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
    background-color: #fff;
    font-family: 'muli';
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    font-family: muli;
}

a,
span {
    color: inherit;
    display: inline-block;
}

a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    margin: 0;
    font-family: muli-bold;
}

p, a {
    font-family: muli;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

.main-header.fixedheader {
    background-color: #051926;
}

.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    padding: 20px 0;
}

.main-manu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*.main-manu li:first-child a {*/
/*    border: 2px solid #ffffff5e;*/
/*    border-radius: 4px;*/
/*    text-align: center;*/
/*    font-size: 17px;*/
/*    letter-spacing: 0px;*/
/*    color: #fff;*/
/*    padding: 5px 20px;*/
/*}*/

.main-header .row {
    align-items: center;
}

.dots-span {
    display: flex;
    flex-direction: column;
}

.dots-spans {
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 4px;
}

.main-manu li {
    margin-left: 20px;
    position: relative;
}

.main-manu li a {height: 100%;display: block;}

.main-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 70px;
}

.banner-imgs {position: relative;top: 90px;}

.banner-content h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
    font-family: muli-bold;
}

.main-banner .row {
    align-items: center;
}

.banner-content p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.btn-white {
    background: #fff 0% 0% no-repeat padding-box;
    border: 2px solid #ffffff5e;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0px;
    color: #051926;
    border: none;
}

.service-banner {
    background-color: #fff;
}

.service-banner {}

.service-banner .main-title {
    margin-top: -10px;
}

.main-title h2 {
    color: #455c6b;
    font-family: 'muli-bold';
    margin-bottom: 15px;
}

.main-title p {
    color: #455c6b;
}

.service-column {
    background-color: #e5e8eb;
    border-radius: 38px;
    padding: 25px;
    height: 100%;
}

.service-column {}

.service-content h3 {
    color: #455c6b;
    font-size: 23px;
    margin: 10px 0;
    font-family: 'muli-bold';
}

.service-content p {
    color: #455c6b;
    font-size: 15px;
    margin: 0;
}

.service-banner .col-md-4 {
    margin-bottom: 30px;
}

.glamour-content h3 {
    color: #455c6b;
    font-size: 41px;
    font-family: 'muli-bold';
}

.glamour {
    padding: 50px 0;
}

.glamour-right-content {
    display: flex;
    justify-content: space-between;
}

.glamour-right-content img {
    max-width: 30%;
    position: absolute;
    right: 0;
}

.glamour-repeat h4 {
    color: #455c6b;
    font-size: 41px;
    font-family: 'muli-bold';
}

.glamour-repeat p {
    color: #455c6b;
    font-size: 17px;
    margin: 0;
}

.service-icons img {
    max-width: 40px;
}

.booking-content h3 {
    color: #455c6b;
    /* font-size: 41px; */
    font-family: 'muli-bold';
    margin-bottom: 15px;
}

.booking-content h4 {
    color: #455c6b;
    margin-bottom: 10px;
    font-family: 'muli';
}

.booking-content p {
    color: #455c6b;
}

.booking-content ul li {
    padding: 5px 5px 5px 35px;
    color: #455c6b;
    background-image: url(../images/list-icons.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 15px;
}

.booking-img-row .owl-dot {
    width: 10px;
    height: 10px;
    display: block;
    margin: 0 7px;
}

.booking-img-row .owl-dot span {
    display: block;
    height: 100%;
    width: 100%;
    border: 1px solid #d29a9b;
    border-radius: 50%;
}

.booking-img-row .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-img-row .owl-dot.active span {
    background-color: #d29a9b;
}

.booking-img img {
    width: auto !important;
    max-width: 68%;
    margin: 0 auto;
}

.mobile-groups img {
    max-width: 400px;
    margin-left: auto;
}

.booking-repeater .row {
    align-items: center;
}

.booking-repeater .row:nth-child(2n) {
    flex-direction: row-reverse;
}

.booking-repeater .row:nth-child(2n) .booking-img img {
    margin-left: auto;
}

.booking-repeater .row {
    margin: 80px 0;
}

.btn-border {
    border: 2px solid #455c6b5e;
    border-radius: 4px;
    padding: 5px 20px;
    color: #455c6b;
    font-size: 12px;
}

.pick-business .main-title {
    margin-bottom: 20px;
}

.business-rows {
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 38px;
}

.booking-repeater .row:first-child {
    margin-top: 0;
}

.pick-sections {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}

.pick-column {}

.pick-column {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    height: 100%;
    border-radius: 30px;
}

.pick-column img {
    margin: 0 auto 10px auto;
    /* height: 100%; */
}

.pick-column h6 {
    color: #455c6b;
    font-family: 'muli';
    font-size: 13px;
}

.apps-column {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 31px;
    display: flex;
    border-bottom: 40px;
    align-items: center;
    border-radius: 38px;
}

.app-image {
    width: 190px;
}

.app-content {
    width: calc(100% - 180px);
}

.play-store-column {
    background-color: #051926;
}

.app-content h5 {
    color: #fff;
    font-size: 30px;
    font-family: 'muli-bold';
    margin-bottom: 20px;
}

.play-images a {
    display: block;
    margin-right: 10px;
}

.play-store {
    display: flex;
    align-items: center;
}

.play-images {
    display: flex;
}

.app-column { /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b87879+0,f2c3c5+100 */
    background-color: #b87879; /* Old browsers */
    background-color: -moz-linear-gradient(left, #b87879 0%, #f2c3c5 100%); /* FF3.6-15 */
    background-color: -webkit-linear-gradient(left, #b87879 0%, #f2c3c5 100%); /* Chrome10-25,Safari5.1-6 */
    background-color: linear-gradient(to right, #b87879 0%, #f2c3c5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b87879', endColorstr='#f2c3c5', GradientType=1); /* IE6-9 */
}

.app-content p {
    color: #fff;
    font-family: 'muli';
    font-size: 14px;
}

.app-column .app-content {
    margin-left: 20px;
}

.main-footer {
    background-color: #fff;
    padding: 50px 0;
}

.dowload-app {
    padding: 50px 0;
}

/* .footer-lists {
    display: flex;
} */
.footer-title h5 {
    color: rgb(16, 25, 40);
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
}

.dropdown-manu {
    position: absolute;
    right: 0;
    background-color: #fff;
    width: 120px;
    display: none;
}

.dropdown-manu ul li {
    border: none;
    margin: 0 !important;
}

.dropdown-manu ul li a {
    color: #000 !Important;
    text-align: left !important;
    display: block !important;
    padding: 2px 7px !important;
    border-bottom: 1px solid #cecece !important;
}

.footer-lists .play-images {
    flex-wrap: wrap;
}

.footer-lists .play-images a {
    margin-bottom: 5px;
}

.footer-lists ul {
    margin-right: 80px;
}

.footer-lists ul li a {
    color: rgb(16, 25, 40);
    font-size: 14px;
}

.footer-lists ul li {
    padding: 5px;
    color: #fff;
    font-size: 12px;
    font-family: 'muli';
}

.download-social ul {
    display: flex;
}

.download-social ul li {
    margin-right: 20px;
}

.download-app a {
    display: block;
    background-color: #051926;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
}

.download-social ul li a {
    color: rgb(16, 25, 40);
    font-size: 17px;
}

.footer-bottom {
    padding: 5px 0;
}

.footer-bottom .row {
    border-top: 1px solid #cecece;
}

.social-list ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social-list ul li {
    padding: 0 9px;
}

.copyright p {
    margin: 0;
    color: rgb(135, 140, 147);
}

.form-rows {
    display: flex;
    background-color: #fff;
    padding: 5px;
    border-radius: 25px;
    align-items: center;
}

.search-row {
    width: calc(100% - 30px);
}

.search-field {
    width: 100%;
    border: none;
    border-top-left-radius: 38px;
    background-color: #f2f2f2;
    padding: 10px;
    border-bottom-left-radius: 38px;
    background-image: url(../images/search-icons.png);
    background-repeat: no-repeat;
    background-position: left 10px center;
    padding-left: 34px;
}

.search-btn {
    height: 100%;
}

.user-banner {height: 700px;}

.user-banner .container-fluid, .user-banner .row {
    height: 100%;
}

.search-btn {
    padding: 12px;
    background-color: #f2f2f2;
    border: none;
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
    border-left: 1px solid #f2c3c5;
}

.grow-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.grow-title h4 {
    color: #455c6b;
    font-family: 'muli-extralight';
    font-family: 'muli-bold';
}

.btn-tranparent {
    border: 2px solid #455c6b5e;
    border-radius: 4px;
    padding: 5px 20px;
    color: #455c6b;
    font-size: 13px;
}

.grow-content p {
    margin: 7px 0 0 0;
    color: #455c6b8f;
}

.category-content {
    width: calc(100% - 160px);
}

.category-image {
    width: 150px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    background-position: center;
}

.category-inner-row {
    display: flex;
}

.category-content h5 {
    font-family: 'muli-bold';
    color: #97a4ac;
    font-size: 15px;
}

.category-content h6 {
    color: #97a4ac;
    font-family: 'muli';
    font-family: 'muli-bold';
    font-size: 14px;
}

.category-content p {
    color: #97a4ac;
    font-family: 'muli';
    /* display: flex; */
    /* align-items: center; */
}

.ratings {
    background-color: #455c6b;
    color: #fff;
    padding: 4px 8px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    font-size: 10px;
    position: absolute;
    right: 0;
    bottom: 20px;
}

.category-slider .owl-item.active.center .category-content h5, .category-slider .owl-item.active.center .category-content h6, .category-slider .owl-item.active.center .category-content p {
    color: #455c6b;

}

.category-slider .owl-item.active.center .category-seprator {
    background-color: #455c6b;
}

.category-slider .owl-prev {
    position: absolute;
    left: -60px;
    top: 15px;
}

.top-category .main-title {
    margin-bottom: 30px;
}

.top-category {
    padding: 30px 0;
}

.booking-repeater .play-store {
    margin-top: 50px;
}

.booking-repeater .play-store a img {
    max-width: 154px;
}

.category-slider .owl-next {
    position: absolute;
    right: -60px;
    top: 15px;
}

.category-seprator {
    height: 5px;
    width: 100%;
    background-color: #bec6cb;
    border-radius: 15px;
}

.short-content {
    width: 130px;
}

.business-software {
    background-color: #051926;
    padding: 40px 0;
    border-radius: 30px;
    margin: 0 10px;
}

.business-software .row {
    align-items: center;
}

.business-content h4 {
    color: #fff;
    font-size: 45px;
    font-family: 'muli-bold';
    margin-bottom: 20px;
}

.business-content p {
    color: #fff;
}

.btn-whites {
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    padding: 5px 30px;
    color: #051926;
    font-weight: 600;
    border-radius: 25px;
    margin-top: 35px;
}

.btn-whites img {
    margin-left: 10px;
}

.business-content .play-store {
    margin-top: 40px;
}

.careers {
    padding: 80px 0;
}

.carrer-inner-row {
    display: flex;
    align-items: center;
}

.career-inner-column {
    width: 50%;
}

.career-column {
    max-width: 570px;
}

.career-inner-content h4 {
    color: #455c6b;
    /* font-size: 41px; */
    font-family: 'muli-bold';
    font-size: 40px;
    margin-bottom: 20px;
}

.career-inner-content p {
    color: #455c6b;
}

.subcribe-row {
    margin-top: 20px;
}

.subcribe-row h5 {
    color: #455c6b;
    font-size: 25px;
    margin-bottom: 20px;
}

.subcribe-field {
    /* background-color: red; */
    border-radius: 60px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 13px;
    width: 80%;
    position: relative;
}

.email-fields:focus {
    outline: none;
}

.email-fields {
    width: 100%;
    background-color: transparent;
    border-radius: 25px;
    border: 2px solid #cdd3d7;
    padding: 12px 20px;
}

.btn-gradient-send {
    position: absolute;
    right: 20px;
    padding: 6px 20px;
    background: #f2c3c5; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #c18485 0%, #f2c3c5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #c18485 0%, #f2c3c5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #c18485 0%, #f2c3c5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 50px;
    top: 21px;
    color: #fff;
}

.btn-gradient {
    background: -moz-linear-gradient(-45deg, #c18485 0%, #f2c3c5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #c18485 0%, #f2c3c5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #c18485 0%, #f2c3c5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #fff;
    border-radius: 50px;
    width: 160px;
    text-align: center;
    line-height: 1.2;
}

.booking-best {
    padding: 50px 0 0 0;
}

.booking-best {}

.booking-best .main-title {
    margin-bottom: 30px;
}

.booking-row {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
    padding: 20px;
    margin: 20px 0;
}

.booking-head {}

.booking-head .ratings {
    position: unset;
}

.booking-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.booking-head h4 {
    font-size: 16px;
    color: #455c6b;
    font-family: 'muli';
}

.booking-contents h4 {
    color: #455c6b;
    font-family: 'muli-bold';
    margin-bottom: 11px;
    font-size: 18px;
}

.booking-contents p {
    font-size: 16px;
    color: #455c6b;
    font-family: 'muli';
}

.booking-contents h6 {
    font-size: 16px;
    color: #455c6b;
    font-family: 'muli';
}

.booking-slider {
    background-image: url(../images/section2_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 20px;
    position: relative;
}

.main-manu li a {
    text-align: center;
    font-size: 17px;
    letter-spacing: 0px;
    color: #fff;
    padding: 5px 6px;
    font-family: 'muli-bold';
}

.main-manu li a {
    text-align: center;
    font-size: 17px;
    letter-spacing: 0px;
    color: #fff;
    padding: 5px 6px;
}

.main-manu li:first-child a, .main-manu li:nth-child(2) a {
    border: 2px solid #ffffff5e;
    border-radius: 4px;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0;
    color: #fff;
    padding: 5px 25px;
}

.main-manu li:nth-child(2):before, .main-manu li:nth-child(3):before {
    content: " ";
    position: absolute;
    height: 35px;
    width: 1px;
    background-color: #fff;
    left: -10px;
    top: 0;
}

.dots-span .dots-spans:last-child {
    margin-bottom: 0;
}

.main-header.user-headers.fixedheader {
    background-color: #d29a9b;
}

.container-fluid {
    padding: 0 50px;
}

.rtl-right .copyright p {
    text-align: right;
}

.rtl-right .footer-logo a {
    margin-right: auto;
    display: inline;
}

.rtl-right .service-content {
    text-align: right;
}

.rtl-right .main-logo a {
    margin-right: auto;
    display: inline;
}

.rtl-right .main-manu {
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.rtl-right .main-title {
    text-align: right;
}

.rtl-right .subcribe-field {
    margin-right: auto;
}

.rtl-right .email-fields {
    text-align: left;
}

.rtl-right .booking-repeater .play-store .play-images {
    justify-content: flex-end;
    width: 100%;
}

.cus-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-column {
    width: 33%;
    padding: 0 20px;
}

.price-inner-column {
    text-align: center;
    box-shadow: 1px 3px 8px 7px rgba(0, 0, 0, 0.09);
    border-radius: 40px;
    padding: 30px;
}

.prices {
    padding: 50px 0;
}

.prics-body p {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #cecece;
    font-size: 14px;
}

.price-head {
    margin-bottom: 20px;
}

.price-head h5 {
    color: #ce9597;
    font-weight: 700;
}

.price-head h1 {
    color: #081a26;
    font-size: 65px;
    margin: 10px 0;
}

.price-footer a {
    background-color: #081a26;
    border-radius: 50px;
    color: #fff;
    margin-top: 20px;
    font-size: 12px;
    text-transform: uppercase;
}

.price-inner-column:hover .price-head h1 {
    color: #d9a3a4;
    font-weight: 700;
}

.price-lists {
    background-color: #081a26;
    border-radius: 50px;
    padding: 5px 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    FONT-SIZE: 12PX;
}

.price-lists-not-selected {
    background-color: #455c6b;
    border-radius: 50px;
    padding: 5px 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    FONT-SIZE: 12PX;
}

.rtl-right .main-banner {
    background-image: url(../images/main-banner-rtl.png) !important;
}

.manu-liss {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.manu-buttons {
    display: none;
}

.manu-liss ul:last-child {
    margin-top: -12px;
    margin-left: 10px;
}

@media (min-width: 1400px) {
    .user-banner {
        height: 1050px;
    }
}

@media (min-width: 1600px) {
    .user-banner {
        height: 1400px;
    }
}

@media (max-width: 1152px) {
    .manu-buttons {
        display: flex;
        flex-direction: column;
    }

    .manu-liss ul:last-child {
        margin-top: -19px;
        margin-left: 10px;
    }

    .main-manu {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #081a26;
        text-align: left;
        align-items: flex-start;
        justify-content: flex-start;
        display: flex;
        top: 20px;
    }

    .main-manu li:first-child a {
        border: none;
        text-align: left
    }

    .main-manu li a {
        text-align: left;
    }

    .download-app a {
        font-size: 12px;
        padding: 10px 8px;
    }

    .main-manu li:nth-child(3):before {
        display: none;
    }

    .sr-olnys {
        width: 40px;
        height: 2px;
        background-color: #fff;
        display: block;
        margin-bottom: 5px;
    }

    .main-manu {
        display: none;
    }

    .banner-content h1,
    .glamour-content h3 {
        font-size: 30px;
    }

    .banner-imgs {
        top: 0;
    }

    .glamour-repeat h4 {
        font-size: 30px;
    }

    .glamour-content h3 {
        margin-bottom: 20px;
    }

    .booking-img img {
        max-width: 100%;
        margin: 0 auto;
    }

    .booking-repeater .row {
        margin: 20px 0;
    }

    .booking-content h3,
    .main-title h2 {
        font-size: 25px;
    }

    .pick-sections {
        padding: 0;
    }

    .business-rows {
        padding: 20px;
    }

    .dowload-app .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .footer-lists ul {
        margin-right: 50px;
    }

    .category-slider .owl-next {
        right: 0;
        top: 0;
    }

    .category-slider .owl-pervious {
        left: 0;
        top: 0;
    }

    .business-content h4,
    .career-inner-content h4 {
        font-size: 30px;
    }

    .mobile-groups img {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .container-fluid {
        padding: 0 20px;
    }

    .business-content h4,
    .career-inner-content h4 {
        font-size: 22px;
    }

    .apps-column {
        padding: 20px;
    }

    .cus-row {
        flex-wrap: wrap;
    }

    .price-column {
        width: 100%;
    }

    .price-inner-column {
        margin-bottom: 20px;
    }

    .prices {
        padding: 30px 0;
    }

    .main-banner {
        padding-top: 130px;
    }

    .careers {
        padding: 20px 20px;
    }

    .booking-content img {max-width: 80px;margin-top: 20px;}

    .mobile-groups img {
        max-width: 80%;
        margin: 0 auto;
    }

    .subcribe-row h5 {
        font-size: 20px
    }

    .subcribe-row h5 {
        width: 100%;
    }

    .carrer-inner-row {
        flex-wrap: wrap;
    }

    .career-inner-column {
        width: 100%;
    }

    .grow-title {
        flex-wrap: wrap;
        justify-content: center;
    }

    .grow-title h4 {
        margin-bottom: 20px
    }

    .glamour {
        padding: 0px 0;
    }

    .glamour-right-content img {
        max-width: 27%;
    }

    .footer-lists ul {
        margin-right: 0;
        width: 50%;
        margin: 20px 0;
    }

    .copyright p {
        text-align: center;
    }

    .social-list ul {
        justify-content: center;
    }

    .footer-lists {
        flex-wrap: wrap;
    }

    .play-store-column {
        flex-wrap: wrap;
    }

    .app-content,
    .app-image {
        width: 100%;
    }

    .row.business-rows .col-6 {
        margin-bottom: 20px;
    }

    .app-column {
        flex-wrap: wrap;
        background-image: none !important;
    }

    .business-rows {
        padding: 10px;
    }

    .booking-content h3,
    .main-title h2 {
        font-size: 20px;
    }

    .banner-content h1,
    .glamour-content h3 {
        font-size: 22px;
    }

    .glamour-repeat h4 {
        font-size: 22px;
    }
}

.div-center {
    margin: 0 auto;
}
